.idea/
__pycache__/
.cache
.pytest_cache/

# Ignore genuine data
data/genuine/*
!data/genuine/create_training_corpora.py
!data/genuine/histogram.py
!data/genuine/retain.py
!data/genuine/train_models.py
!data/genuine/transform.py
!data/genuine/utils.py
!data/genuine/.gitignore

# Ignore temp files
temp/
!.gitignore
