.idea/
__pycache__/
.cache
.pytest_cache/

# Ignore genuine data
data/genuine/*
!data/genuine/transform.py
!data/genuine/histogram.py
!data/genuine/retain.py
!data/genuine/.gitignore

# Ignore temp files
temp/
!.gitignore
